auto-save-list/
backups/
config.el
elpa/
elpy/
url/
straight/
.lsp-session-v1
network-security.data
projectile-bookmarks.eld
recentf
smex-items
tramp
eshell
projectile.cache
bookmarks
.last-package-update-day
emojis/
eln-cache/
.org-id-locations
init.el
transient/history.el